{% extends "base.html" %}

{% block content %}
<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">User</li>
      <li class="breadcrumb-item active"><a href="{% url 'password_change' %}">Change Password</a></li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Change Your Password</h6>
          
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row mb-3">
              <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .errorlist {
    color: red;
  }
</style>
{% endblock content %}
