{% extends "base.html" %}

{% block content %}
<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'password_change' %}">User</a></li>
      <li class="breadcrumb-item active">Change Password</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Password Change Successful</h6>
          <p>Your password has been successfully changed.</p>
          <a href="{% url 'show_items' %}" class="btn btn-primary">Go to Inventory</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
