{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{% trans "User" %}</li>
      <li class="breadcrumb-item active"><a href="{% url 'password_change' %}">{% trans "Change Password" %}</a></li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{% trans "Change Your Password" %}</h6>
          
          <form method="post">
            {% csrf_token %}
            <div class="form-horizontal">
              {{ form.as_p }}
            </div>
            <div class="row mb-3">
              <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .errorlist {
    color: red;
  }
  .form-horizontal p {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .form-horizontal p label {
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 0;
  }
  .form-horizontal p input {
    flex: 1;
  }
</style>
{% endblock content %}
