{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'password_change' %}">{% trans "User" %}</a></li>
      <li class="breadcrumb-item active">{% trans "Change Password" %}</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{% trans "Password Change Successful" %}</h6>
          <p>{% trans "Your password has been successfully changed" %}.</p>
          <a href="{% url 'show_items' %}" class="btn btn-primary">{% trans "Go to Inventory" %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
