# DEFAULT LIBS
Django==5.0.7
pytz==2023.3.post1
python-dotenv==1.0.0
psycopg2-binary==2.9.9

# HTTP HEADERS
django-feature-policy==4.0.0
django-http-referrer-policy==1.1.1
django-csp==3.7

# APP SPECIFIC
qrcode==7.4.2
apprise==1.8.0
treepoem==3.24.0
mozilla-django-oidc==4.0.1

# TASKS
celery[redis]
django-celery-beat==2.6.0
