services:

  app:
    image: l4rm4nd/vouchervault:1.15.x
    container_name: vouchervault
    restart: unless-stopped
    environment:
      # your FQDN or IP; multiple ones supported by comma separation
      - DOMAIN=vouchervault.example.com
      # set to True if you use a reverse proxy with tls; enables secure cookie flag and hsts
      - SECURE_COOKIES=False
      # send notifications xx days prior expiry
      - EXPIRY_THRESHOLD_DAYS=90
      # define the timezone
      - TZ=Europe/Berlin
    expose:
      - 8000
    ports:
      - 8000:8000
    volumes:
      - ./volume-data/database:/opt/app/database

  redis:
    image: redis:7-alpine
    container_name: vouchervault-redis
    restart: unless-stopped
    expose:
      - 6379
