{% load i18n %}
{% load static %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Darkmode -->
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      // Check if dark mode was previously enabled
      if (localStorage.getItem('darkMode') === 'disabled') {
        document.body.classList.remove('dark-mode');
      }

      const toggleButton = document.getElementById('darkModeToggle');
      toggleButton.addEventListener('click', () => {
        document.body.classList.toggle('dark-mode');
        if (document.body.classList.contains('dark-mode')) {
          // Save the preference to localStorage
          localStorage.setItem('darkMode', 'enabled');
        } else {
          // Remove the preference from localStorage
          localStorage.setItem('darkMode', 'disabled');
        }
      });
    });
  </script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>VoucherVault</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.ico' %}" rel="shortcut icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/dark-mode.css' %}" rel="stylesheet">  

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="dark-mode">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.svg' %}" alt="">
        <span class="d-none d-lg-block">VoucherVault</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- Dark Mode Toggle Button -->
    <i id="darkModeToggle" class="bi bi-brightness-low toggle-sidebar-btn"></i>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <i id="user-icon" class="bi bi-person-circle"></i>
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'update_apprise_urls' %}">
                <i class="bi bi-bell"></i>
                <span>{% trans "Notification Settings" %}</span>
              </a>
            </li>
            {% if not "OIDC_ENABLED"|env %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'password_change' %}">
                <i class="bi bi-key"></i>
                <span>{% trans "Change Password" %}</span>
              </a>
            </li>
            {% endif %}
            <li>
              {% if request.user.is_superuser %}
                <a class="dropdown-item d-flex align-items-center" href="/admin">
                  <i class="bi bi-gear"></i>
                  <span>{% trans "Admin Settings" %}</span>
                </a>
              {% endif %}
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <form method="post" action="{% if 'OIDC_ENABLED'|env == True %}{% url 'oidc_logout' %}{% else %}{% url 'logout' %}{% endif %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="dropdown-item d-flex align-items-center">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>{% trans "Sign Out" %}</span>
                </button>
              </form>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      
      <li class="nav-item">
        <a class="nav-link " href="{% url 'dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>{% trans "Dashboard" %}</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="{% url 'show_items' %}">
          <i class="bi bi-menu-button-wide"></i>
          <span>{% trans "Inventory" %}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'sharing_center' %}">
          <i class="bi bi-people"></i>
          <span>{% trans "Sharing Center" %}</span>
        </a>
      </li>      

      <li class="nav-heading">{% trans "Functions" %}</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'create_item' %}">
          <i class="bi bi-file-earmark-plus"></i>
          <span>{% trans "Create New Item" %}</span>
        </a>
      </li><!-- End Blank Page Nav -->
      <!-- Language Toggle Button -->
      <li class="nav-item" style="position: absolute; bottom: 20px;">
        <form id="languageForm" style="margin-left: 10px;" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <select name="language" id="languageSelect">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      {{ language.name_local }}
                  </option>
              {% endfor %}
          </select>
        </form>
      </li>
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    {% block content %}{% endblock content %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      <h5>VoucherVault {{ "VERSION"|env }}</h5>
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Developed by <a href="https://github.com/l4rm4nd">LRVT</a> | Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script>
    document.getElementById('languageSelect').addEventListener('change', function() {
      document.getElementById('languageForm').submit();
    });
  </script>

</body>
</html>
