{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div id="loadingOverlay" class="loading-overlay">
  <div>Redeem code type checking in progress...</div>
</div>

{% if form.errors %}
<div id="errors" class="alert alert-danger mt-2">
    <ul>
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="pagetitle">
    <h1>{% trans "Create New Item" %}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Create New Item" %}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

{% if form.type.errors %}
<div class="invalid-feedback">
    {% for error in form.type.errors %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans "Item Details" %}</h5>

                    <!-- QR Code Scanner Section -->
                    <section class="mb-3 mt-1" id="qrScannerSection" style="display:none;">
                        <div style="color: lightgray" id="loadingMessage"></div>
                        <video id="video" width="250" height="250" style="border: 1px solid gray"></video>
                        <canvas id="canvas" hidden></canvas>
                        <div id="output" hidden>
                            <div style="color: lightgray" id="outputMessage">{% trans "No QR code detected" %}.</div>
                            <div style="color: lightgray" hidden><b>Data:</b> <span id="outputData"></span></div>
                        </div>
                    </section>

                    <!-- Item Form -->
                    <form method="POST" action="{% url 'create_item' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="type" class="col-sm-2 col-form-label">{% trans "Type" %}</label>
                            <div class="col-sm-10">
                                <select class="form-select" id="type" name="type" required>
                                    <option value="giftcard">{% trans "Gift Card" %}</option>
                                    <option value="voucher">{% trans "Voucher" %}</option>
                                    <option value="coupon">{% trans "Coupon" %}</option>
                                    <option value="loyaltycard">{% trans "Loyalty Card" %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="name" class="col-sm-2 col-form-label">{% trans "Name" %}</label>
                            <div class="col-sm-10">
                                <input placeholder="{% trans 'The name of the item' %}" type="text" class="form-control" id="name"
                                    name="name" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="issuer" class="col-sm-2 col-form-label">{% trans "Issuer" %}</label>
                            <div class="col-sm-10">
                                <input placeholder="{% trans 'The issuer of the item' %}" type="text" class="form-control mt-2"
                                    id="issuer" name="issuer" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="redeem_code" class="col-sm-2 col-form-label">{% trans "Redeem Code" %}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input placeholder="{% trans 'The redeem code of the item' %}" type="text" class="form-control" id="redeem_code" name="redeem_code" required>
                                    <button title="Camera Scan" class="btn btn-outline-secondary btn-feature" type="button" id="startScanner">
                                        <i class="bi bi-camera" id="cameraIcon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="code_type" class="col-sm-2 col-form-label">{% trans "Code Type" %}</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="code_type" name="code_type" required>
                                    <option value="qrcode">QR Code</option>
                                    <option value="ean13">EAN-13</option>
                                    <option value="ean8">EAN-8</option>
                                    <option value="code128">Code 128</option>
                                    <option value="code39">Code 39</option>
                                    <option value="upca">UPC-A</option>
                                    <option value="upce">UPC-E</option>
                                    <option value="isbn13">ISBN-13</option>
                                    <option value="isbn10">ISBN-10</option>
                                    <option value="issn">ISSN</option>
                                    <option value="pdf417">PDF417</option>
                                    <option value="datamatrix">Data Matrix</option>
                                    <option value="azteccode">Aztec Code</option>
                                    <option value="interleaved2of5">Interleaved 2 of 5</option>
                                </select>
                            </div>
                        </div>                     
                        <div class="row mb-3">
                            <label for="pin" class="col-sm-2 col-form-label">{% trans "PIN Code" %}</label>
                            <div class="col-sm-10">
                                <input placeholder="{% trans 'The pin code of the item' %}" type="text" class="form-control" id="pin"
                                    name="pin">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="issue_date" class="col-sm-2 col-form-label">{% trans "Issue Date" %}</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="issue_date" name="issue_date" required>
                            </div>
                            <script>
                                document.getElementById('issue_date').valueAsDate = new Date();
                            </script>
                        </div>
                        <div class="row mb-3">
                            <label for="expiry_date" class="col-sm-2 col-form-label">{% trans "Expiry Date" %}</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="expiry_date" name="expiry_date">
                            </div>
                        </div>
                        <div class="row mb-3">
                          <label for="description" class="col-sm-2 col-form-label">{% trans "Description" %}</label>
                          <div class="col-sm-10">
                              <textarea placeholder="{% trans 'The description of the item' %}" class="form-control" id="description"
                                  name="description" rows="4"></textarea>
                          </div>
                      </div>
                      <div class="row mb-3">
                        <label for="logo_slug" class="col-sm-2 col-form-label">{% trans "Logo Slug" %}
                            <a href="https://www.logo.dev/" target="_blank">
                              <i class="bi bi-info-circle"></i>
                            </a>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="amazon.com" id="logo_slug" name="logo_slug">
                        </div>
                      </div>                      
                        <div class="row mb-3" id="value-field">
                            <label for="value" class="col-sm-2 col-form-label">{% trans "Value" %}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input placeholder="{% trans 'The value of the item' %}" type="number" class="form-control"
                                        id="value" name="value" step="0.01" min="0.00" required> 
                                    <button class="btn btn-outline-secondary btn-feature d-none" type="button" id="toggle-value-type">
                                        <span title="Toggle value type" id="value-type-icon" class="bi bi-cash-coin"></span>
                                    </button>
                                </div>
                                <input type="hidden" id="value_type" name="value_type" value="money">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="file" class="col-sm-2 col-form-label">{% trans "Upload File" %}</label>
                            <div class="col-sm-10">
                                <input type="file" id="file" name="file" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" onclick="document.getElementById('loadingOverlay').style.display = 'flex';" class="btn btn-primary">{% trans "Create Item" %}</button>
                            </div>
                        </div>
                    </form><!-- End Item Form -->
                </div>
            </div>
        </div>
    </div>
</section>

<style>
  @keyframes breathe {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .breathe-red {
    animation: breathe 1s infinite;
    color: red;
  }
</style>

<script src="{% static 'assets/js/zxing.js' %}"></script>
<script src="{% static 'assets/js/scanner.js' %}"></script>

<script>

  document.addEventListener("DOMContentLoaded", function () {

      const typeField = document.getElementById('type');
      const pinField = document.getElementById('pin');
      const valueField = document.getElementById('value');
      const issuerCodeField = document.getElementById('issuer');
      const redeemCodeField = document.getElementById('redeem_code');
      const pinFieldContainer = pinField.closest('.row');
      const valueFieldContainer = valueField.closest('.row');
      const issuerCodeLabel = document.querySelector('label[for="issuer"]');
      const redeemCodeLabel = document.querySelector('label[for="redeem_code"]');
      const valueTypeIcon = document.getElementById('value-type-icon');
      const toggleValueTypeBtn = document.getElementById('toggle-value-type');
      const valueTypeField = document.getElementById('value_type');

      function toggleFields() {
          if (typeField.value === 'loyaltycard') {
              pinField.readOnly = true;
              valueField.readOnly = true;
              pinField.classList.add('readonly');
              valueField.classList.add('readonly');
              valueField.value = 0;
              issuerCodeLabel.textContent = "{% trans 'Store' %}";
              issuerCodeField.placeholder = "{% trans 'The store of your loyalty card' %}";
              redeemCodeLabel.textContent = "{% trans 'Loyalty ID' %}";
              redeemCodeField.placeholder = "{% trans 'Loyalty card number or customer ID' %}";
          } else {
              pinField.readOnly = false;
              valueField.readOnly = false;
              valueField.classList.remove('readonly');
              redeemCodeLabel.textContent = "{% trans 'Redeem Code' %}";
              redeemCodeField.placeholder = "{% trans 'The redeem code of the item' %}";
          }

          if (typeField.value === 'coupon') {
              toggleValueTypeBtn.classList.remove('d-none');
          } else {
              toggleValueTypeBtn.classList.add('d-none');
          }
      }

      function toggleValueInput() {
          if (valueTypeField.value === 'money') {
              valueTypeField.value = 'percentage';
              valueTypeIcon.classList.remove('bi-cash-coin');
              valueTypeIcon.classList.add('bi-percent');
              valueField.setAttribute('step', '0.01');
              valueField.setAttribute('min', '0.00');
              valueField.setAttribute('max', '100.00');
          } else {
              valueTypeField.value = 'money';
              valueTypeIcon.classList.remove('bi-percent');
              valueTypeIcon.classList.add('bi-cash-coin');
              valueField.setAttribute('step', '0.01');
              valueField.setAttribute('min', '0.00');
              valueField.removeAttribute('max');
          }
      }

      typeField.addEventListener('change', toggleFields);
      toggleValueTypeBtn.addEventListener('click', toggleValueInput);

      toggleFields();  // Initial call to set the correct state on page load
  });
</script>


{% endblock content %}
