{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="pagetitle">
  <h1>{% trans "Dashboard" %}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active">{% trans "Dashboard" %}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <!-- Giftcards -->
        <div class="col-6">
          <div class="card info-card dashboard-giftcard">
            <a href="{% url 'show_items' %}?type=giftcard" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "My Giftcards" %}</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-postcard-heart-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ giftcards_count }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Giftcards Card -->   

        <!-- Coupons -->
        <div class="col-6">
          <div class="card info-card dashboard-coupon">
            <a href="{% url 'show_items' %}?type=coupon" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "My Coupons" %}</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-bookmarks-fill" style="transform: rotate(270deg)"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ coupons_count }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Coupons Card -->

        <!-- Vouchers -->
        <div class="col-6">
          <div class="card info-card dashboard-voucher">
            <a href="{% url 'show_items' %}?type=voucher" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "My Vouchers" %}</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-postcard"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ vouchers_count }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Vouchers Card -->        

        <!-- Loyalty -->
        <div class="col-6">
          <div class="card info-card dashboard-loyalty">
            <a href="{% url 'show_items' %}?type=loyaltycard" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "My Loyalty Cards" %}</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-person-vcard-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ loyaltycards_count }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Loyalty Card -->         

        <!-- Total Items Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">
            <a href="{% url 'show_items' %}?status=available" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "Items" %} <span>| {% trans "Available" %}</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-boxes"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ available_items }}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Total Items Card -->

        <!-- Available Items Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card customers-card">
            <a href="{% url 'show_items' %}?status=used" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "Items" %} <span>| {% trans "Used" %}</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="color: #5470c6;">
                  <i class="bi bi-bag-check"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ used_items }}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Available Items Card -->

        <!-- Available Items Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card customers-card">
            <a href="{% url 'show_items' %}?status=expired" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "Items" %} <span>| {% trans "Expired" %}</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="color: #7e3434;">
                  <i class="bi bi-calendar-x"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ expired_items }}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Available Items Card -->

        <!-- Soon Expiring Items Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card customers-card">
            <a href="{% url 'show_items' %}?status=soon_expiring" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "Items" %} <span>| {% trans "Soon Expiring" %}</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-clock-history"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ soon_expiring_items }}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Available Items Card -->  

        <!-- Shared Items By You Tile -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card shared-items-card">
            <a href="{% url 'show_items' %}?status=shared_by_me" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "Shared Items" %} <span>| {% trans "By You" %}</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-send-check"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ shared_items_count_by_you }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Shared Items By You Tile -->

        <!-- Shared Items With You Tile -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card shared-items-card">
            <a href="{% url 'show_items' %}?status=shared_with_me" class="stretched-link"></a>
            <div class="card-body">
              <h5 class="card-title">{% trans "Shared Items" %} <span>| {% trans "With You" %}</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-share"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ shared_items_count_with_you }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Shared Items With You Tile -->        

      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

        <!-- Total Value Card -->
        <div class="col-12">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">{% trans "Total Value" %} <span>| {% trans "Available Items" %}</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cash-coin"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ total_value|floatformat:2 }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Total Value Card -->         
      <!-- Item Distribution -->
      <div class="card">

        <div class="card-body pb-0">
          <h5 class="card-title">{% trans "Item Distribution" %} <span>| {% trans "Total" %}</span></h5>

          <div id="itemDistributionChart" style="min-height: 400px;" class="echart"></div>

          <script>
            document.addEventListener('DOMContentLoaded', () => {
                // Function to set chart options
                const setChartOptions = (isDarkMode) => {
                    return {
                        tooltip: {
                            trigger: 'item',
                            backgroundColor: isDarkMode ? '#333' : '#fff',
                            borderColor: isDarkMode ? '#aaa' : '#ccc',
                            textStyle: {
                                color: isDarkMode ? '#fff' : '#333'
                            }
                        },
                        legend: {
                            top: '5%',
                            left: 'center',
                            textStyle: {
                                color: isDarkMode ? '#fff' : '#333'
                            }
                        },
                        series: [{
                            name: 'Item Distribution',
                            type: 'pie',
                            radius: ['45%', '70%'],
                            avoidLabelOverlap: false,
                            label: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: '18',
                                    fontWeight: 'bold',
                                    color: isDarkMode ? '#fff' : '#333'
                                }
                            },
                            labelLine: {
                                show: false
                            },
                            data: [
                                { value: {{ coupons_count }}, name: "{% trans "Coupons" %}" },
                                { value: {{ vouchers_count }}, name: "{% trans "Vouchers" %}" },
                                { value: {{ giftcards_count }}, name: "{% trans "Gift Cards" %}" },
                                { value: {{ loyaltycards_count }}, name: "{% trans "Loyalty Cards" %}" }
                            ],
                            itemStyle: {
                                color: function(params) {
                                    const colors = isDarkMode 
                                        ? ['#476439', '#7c6128', '#7e3434', '#5470c6']
                                        : ['#a8ea89', '#fac858', '#ff7979', '#89a6ff']
                                    return colors[params.dataIndex];
                                }
                            }
                        }]
                    };
                };
        
                // Initialize the chart
                const initializeChart = () => {
                    const isDarkMode = localStorage.getItem('darkMode') === 'enabled';
                    const chart = echarts.init(document.querySelector("#itemDistributionChart"));
                    const chartOptions = setChartOptions(isDarkMode);
                    chart.setOption(chartOptions);
                    return chart;
                };
        
                // Create the initial chart
                let chart = initializeChart();
        
                // Add event listener for the dark mode toggle button
                document.getElementById('darkModeToggle').addEventListener('click', () => {
                    setTimeout(() => {
                        chart.dispose(); // Dispose of the current chart instance
                        chart = initializeChart(); // Reinitialize the chart
                    }, 100);
                });
            });
        </script>
        

        </div>
      </div><!-- End Item Distribution -->

    </div><!-- End Right side columns -->

  </div>
</section>

{% endblock content %}
