{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load extras %}
{% block content %}

<div id="loadingOverlay" class="loading-overlay">
  <div>Redeem code type checking in progress...</div>
</div>

{% if form.errors %}
<div id="errors" class="alert alert-danger mt-2">
    <ul>
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="pagetitle">
    <h1>{% trans "Edit Item" %}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'show_items' %}">{% trans "Inventory" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Edit Item" %}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans "Item Details" %}</h5>

                    <!-- QR Code Scanner Section -->
                    <section class="mb-3 mt-1" id="qrScannerSection" style="display:none;">
                        <div style="color: lightgray" id="loadingMessage"></div>
                        <video id="video" width="250" height="250" style="border: 1px solid gray"></video>
                        <canvas id="canvas" hidden></canvas>
                        <div id="output" hidden>
                            <div style="color: lightgray" id="outputMessage">{% trans "No QR code detected" %}.</div>
                            <div style="color: lightgray" hidden><b>Data:</b> <span id="outputData"></span></div>
                        </div>
                        <div id="sourceSelectPanel" style="display:block">
                            <select id="sourceSelect" style="min-width: 250px; max-width:250px">
                            </select>
                        </div>
                    </section>

                    <!-- Item Form -->
                    <form id="myform" method="POST" action="{% url 'edit_item' item.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="row mb-3 align-items-center">
                        <label for="type" class="col-sm-2 col-form-label">{% trans "Type" %}</label>
                        <div class="col-sm-10 d-flex align-items-center gap-2">
                            <select class="form-select w-auto" id="type" name="type" required>
                                <option value="giftcard" {% if item.type == 'giftcard' %}selected{% endif %}>{% trans "Gift Card" %}</option>
                                <option value="voucher" {% if item.type == 'voucher' %}selected{% endif %}>{% trans "Voucher" %}</option>
                                <option value="coupon" {% if item.type == 'coupon' %}selected{% endif %}>{% trans "Coupon" %}</option>
                                <option value="loyaltycard" {% if item.type == 'loyaltycard' %}selected{% endif %}>{% trans "Loyalty Card" %}</option>
                            </select>

                            <input type="color"
                                   class="form-control form-control-color"
                                   id="tile_color"
                                   name="tile_color"
                                   value="{{ item.tile_color|default:'#000000' }}"
                                   {% if not item.tile_color %} data-default-color="true" {% endif %}
                                   title="{% trans 'Color' %}">

                            <button type="button" class="btn btn-outline-secondary" onclick="resetTileColor()" title="{% trans 'Reset to default' %}">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                        </div>
                    </div>
                        <div class="row mb-3">
                            <label for="name" class="col-sm-2 col-form-label">{% trans "Name" %}</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="{% trans 'The name of the item' %}" class="form-control" id="name" name="name" value="{{ item.name }}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="issuer" class="col-sm-2 col-form-label">{% trans "Issuer" %}</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="{% trans 'The issuer of the item' %}" class="form-control mt-2" id="issuer" name="issuer" value="{{ item.issuer }}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="redeem_code" class="col-sm-2 col-form-label">{% trans "Redeem Code" %}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input placeholder="{% trans 'The redeem code of the item' %}" value="{{ item.redeem_code }}" type="text" class="form-control" id="redeem_code" name="redeem_code" required>
                                    <button title="Scan QR code via camera" class="btn btn-outline-secondary btn-feature" type="button" id="startScanner">
                                        <i class="bi bi-camera" id="cameraIcon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="code_type" class="col-sm-2 col-form-label">{% trans "Code Type" %}</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="code_type" name="code_type" required>
                                    <option value="qrcode" {% if item.code_type == "qrcode" %}selected{% endif %}>QR Code</option>
                                    <option value="ean13" {% if item.code_type == "ean13" %}selected{% endif %}>EAN-13</option>
                                    <option value="ean8" {% if item.code_type == "ean8" %}selected{% endif %}>EAN-8</option>
                                    <option value="code128" {% if item.code_type == "code128" %}selected{% endif %}>Code 128</option>
                                    <option value="code39" {% if item.code_type == "code39" %}selected{% endif %}>Code 39</option>
                                    <option value="upca" {% if item.code_type == "upca" %}selected{% endif %}>UPC-A</option>
                                    <option value="upce" {% if item.code_type == "upce" %}selected{% endif %}>UPC-E</option>
                                    <option value="isbn13" {% if item.code_type == "isbn13" %}selected{% endif %}>ISBN-13</option>
                                    <option value="isbn10" {% if item.code_type == "isbn10" %}selected{% endif %}>ISBN-10</option>
                                    <option value="issn" {% if item.code_type == "issn" %}selected{% endif %}>ISSN</option>
                                    <option value="pdf417" {% if item.code_type == "pdf417" %}selected{% endif %}>PDF417</option>
                                    <option value="datamatrix" {% if item.code_type == "datamatrix" %}selected{% endif %}>Data Matrix</option>
                                    <option value="azteccode" {% if item.code_type == "azteccode" %}selected{% endif %}>Aztec Code</option>
                                    <option value="interleaved2of5" {% if item.code_type == "interleaved2of5" %}selected{% endif %}>Interleaved 2 of 5</option>
                                </select>
                            </div>
                        </div>                       
                        <div class="row mb-3">
                            <label for="redeem_code" class="col-sm-2 col-form-label">{% trans "PIN Code" %}</label>
                            <div class="col-sm-10">
                                <input placeholder="{% trans 'The pin code of the item' %}" type="text" class="form-control" id="pin" name="pin" value="{{ item.pin|default_if_none:'' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="issue_date" class="col-sm-2 col-form-label">{% trans "Issue Date" %}</label>
                            <div class="col-sm-10">
                                {% if "-" in form.issue_date.value %}
                                    <input type="date" class="form-control" id="issue_date" name="issue_date" value="{{ form.issue_date.value }}" required>
                                {% else %}
                                    <input type="date" class="form-control" id="issue_date" name="issue_date" value="{{ form.issue_date.value|date:"Y-m-d" }}" required>
                                {% endif %}
                                <!--<input type="date" class="form-control" id="issue_date" name="issue_date" value='{{ form.issue_date.value|date:"Y-m-d" }}' required>-->
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="expiry_date" class="col-sm-2 col-form-label">{% trans "Expiry Date" %}</label>
                            <div class="col-sm-10">
                                {% if "-" in form.expiry_date.value %}
                                    <input type="date" class="form-control" id="expiry_date" name="expiry_date" value="{{ form.expiry_date.value }}">
                                {% else %}
                                    <input type="date" class="form-control" id="expiry_date" name="expiry_date" value="{{ form.expiry_date.value|date:"Y-m-d" }}">
                                {% endif %}
                                <!--<input type="date" class="form-control" id="expiry_date" name="expiry_date" value='{{ form.expiry_date.value|date:"Y-m-d" }}'>-->
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="description" class="col-sm-2 col-form-label">{% trans "Description" %}</label>
                            <div class="col-sm-10">
                                <textarea placeholder="{% trans 'The description of the item' %}" class="form-control" id="description" name="description" rows="4">{{ item.description }}</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="logo_slug" class="col-sm-2 col-form-label">{% trans "Logo Slug" %}
                                <a href="https://www.logo.dev/" target="_blank">
                                  <i class="bi bi-info-circle"></i>
                                </a>
                              </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{ item.logo_slug }}" placeholder="amazon.com" id="logo_slug" name="logo_slug">
                            </div>
                        </div>  
                        <div class="row mb-3">
                            <label for="value" class="col-sm-2 col-form-label">{% trans "Value" %}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input placeholder="{% trans 'The value of the item' %}" type="number" class="form-control" id="value" name="value" step="0.01" min="0.00" value="{{ item.value|comma_to_dot }}" required>
                                    <button class="btn btn-outline-secondary d-none" type="button" id="toggle-value-type">
                                        <span id="value-type-icon" title="Monetary Value" class="bi bi-cash-coin"></span>
                                    </button>
                                </div>
                                <input type="hidden" id="value_type" name="value_type" value="{{ item.value_type }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="file" class="col-sm-2 col-form-label">{% trans "Upload File" %}</label>
                            <div class="col-sm-10">
                                <input type="file" id="file" name="file" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" onclick="handleSubmitButton()" class="btn btn-primary">{% trans "Update Item" %}</button>
                            </div>
                        </div>
                    </form><!-- End Item Form -->
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    @keyframes breathe {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  
    .breathe-red {
      animation: breathe 1s infinite;
      color: red;
    }
  </style>
  
  <script src="{% static 'assets/js/zxing.js' %}"></script>
  <script src="{% static 'assets/js/scanner.js' %}"></script>
<script>
    function handleSubmitButton() {
        var form = document.getElementById('myform'); // Direct reference to the form by its ID
        if (form.checkValidity()) {
            document.getElementById('loadingOverlay').style.display = 'flex';
        } else {
            document.getElementById('loadingOverlay').style.display = 'none'; // Hide if form is not valid
        }
    }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {

      const typeField = document.getElementById('type');
      const pinField = document.getElementById('pin');
      const valueField = document.getElementById('value');
      const issuerCodeField = document.getElementById('issuer');
      const redeemCodeField = document.getElementById('redeem_code');
      const pinFieldContainer = pinField.closest('.row');
      const valueFieldContainer = valueField.closest('.row');
      const issuerCodeLabel = document.querySelector('label[for="issuer"]');
      const redeemCodeLabel = document.querySelector('label[for="redeem_code"]');
      const valueTypeIcon = document.getElementById('value-type-icon');
      const toggleValueTypeBtn = document.getElementById('toggle-value-type');
      const valueTypeField = document.getElementById('value_type');

      function setInitialValueType() {
          if (valueTypeField.value === 'percentage') {
              valueTypeIcon.classList.remove('bi-cash-coin');
              valueTypeIcon.classList.add('bi-percent');
              valueField.setAttribute('step', '0.01');
              valueField.setAttribute('min', '0.00');
              valueField.setAttribute('max', '100.00');
          } else {
              valueTypeIcon.classList.remove('bi-percent');
              valueTypeIcon.classList.add('bi-cash-coin');
              valueField.setAttribute('step', '0.01');
              valueField.setAttribute('min', '0.00');
              valueField.removeAttribute('max');
          }
      }

      function toggleFields() {
          if (typeField.value === 'loyaltycard') {
              pinField.readOnly = true;
              valueField.readOnly = true;
              pinField.classList.add('readonly');
              valueField.classList.add('readonly');
              valueField.value = 0;
              issuerCodeLabel.textContent = "{% trans 'Store' %}";
              issuerCodeField.placeholder = "{% trans 'The store of your loyalty card' %}";
              redeemCodeLabel.textContent = "{% trans 'Loyalty ID' %}";
              redeemCodeField.placeholder = "{% trans 'Loyalty card number or customer ID' %}";
          } else {
              pinField.readOnly = false;
              valueField.readOnly = false;
              pinField.classList.remove('readonly');
              valueField.classList.remove('readonly');
              redeemCodeLabel.textContent = "{% trans 'Redeem Code' %}";
              redeemCodeField.placeholder = "{% trans 'The redeem code of the item' %}";
          }

          if (typeField.value === 'coupon') {
              toggleValueTypeBtn.classList.remove('d-none');
          } else {
              toggleValueTypeBtn.classList.add('d-none');
          }
      }

      function toggleValueInput() {
        if (valueTypeField.value === 'money') {
            valueTypeField.value = 'percentage';
            valueTypeIcon.className = 'bi bi-percent';
            valueField.setAttribute('step', '0.01');
            valueField.setAttribute('min', '0.00');
            valueField.setAttribute('max', '100.00');
            valueField.placeholder = "{% trans 'e.g. 20% off' %}";
            document.getElementById('value-type-icon').title = 'Percentage Value'; 
        } else if (valueTypeField.value === 'percentage') {
            valueTypeField.value = 'multiplier';
            valueTypeIcon.className = 'bi bi-dice-5';  // You can pick any icon
            valueField.setAttribute('step', '0.1');
            valueField.setAttribute('min', '1.0');
            valueField.removeAttribute('max');
            valueField.placeholder = "{% trans 'e.g. 2x payback points' %}";
            document.getElementById('value-type-icon').title = 'Multiplier Value'; 
        } else {
            valueTypeField.value = 'money';
            valueTypeIcon.className = 'bi bi-cash-coin';
            valueField.setAttribute('step', '0.01');
            valueField.setAttribute('min', '0.00');
            valueField.removeAttribute('max');
            valueField.placeholder = "{% trans 'e.g. 5€' %}";
            document.getElementById('value-type-icon').title = 'Monetary Value'; 
        }
    }

      typeField.addEventListener('change', toggleFields);
      toggleValueTypeBtn.addEventListener('click', toggleValueInput);

      setInitialValueType(); // Set the initial state based on the value_type field value
      toggleFields();  // Initial call to set the correct state on page load
  });
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const colorInput = document.getElementById('tile_color');

  if (colorInput && colorInput.dataset.defaultColor === "true") {
    const isDarkMode = localStorage.getItem('darkMode') !== 'disabled';
    const defaultColor = isDarkMode ? '#1e1e1e' : '#f3f3f3';

    colorInput.value = defaultColor;
  }
});
</script>

<script>
  function resetTileColor() {
    const tileColorInput = document.getElementById('tile_color');
    const isDarkMode = localStorage.getItem('darkMode') !== 'disabled';
    tileColorInput.value = isDarkMode ? "#1e1e1e" : "#f3f3f3";
  }
</script>

{% endblock content %}