{% extends "base.html" %}

{% block content %}
    <div class="pagetitle">
      <h1>Edit Item</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'show_items' %}">Inventory</a></li>
          <li class="breadcrumb-item active">Edit Item</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Item Details</h5>

              <!-- Item Form -->
              <form method="POST" action="{% url 'edit_item' item.id %}">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="name" class="col-sm-2 col-form-label">Item Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" value="{{ item.name }}" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="issuer" class="col-sm-2 col-form-label">Issuer</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control mt-2" id="issuer" name="issuer" value="{{ item.issuer }}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="redeem_code" class="col-sm-2 col-form-label">Redeem Code</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="redeem_code" name="redeem_code" value="{{ item.redeem_code }}" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="redeem_code" class="col-sm-2 col-form-label">PIN Code</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="pin" name="pin" value="{{ item.pin|default_if_none:'' }}">
                  </div>
                </div>                
                <div class="row mb-3">
                  <label for="issue_date" class="col-sm-2 col-form-label">Issue Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="issue_date" name="issue_date" value='{{ form.issue_date.value|date:"Y-m-d" }}' required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="expiry_date" name="expiry_date" value='{{ form.expiry_date.value|date:"Y-m-d" }}' required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="description" class="col-sm-2 col-form-label">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" id="description" name="description" rows="4">{{ item.description }}</textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="type" class="col-sm-2 col-form-label">Item Type</label>
                  <div class="col-sm-10">
                    <select class="form-select" id="type" name="type" required>
                      <option value="giftcard" {% if item.type == 'giftcard' %}selected{% endif %}>Gift Card</option>
                      <option value="voucher" {% if item.type == 'voucher' %}selected{% endif %}>Voucher</option>
                      <option value="coupon" {% if item.type == 'coupon' %}selected{% endif %}>Coupon</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="value" class="col-sm-2 col-form-label">Value</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="value" name="value" step="0.01" min="0.01" value="{{ item.value }}" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Update Item</button>
                  </div>
                </div>
              </form><!-- End Item Form -->

            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
