{% extends "base.html" %}

{% block content %}
<style>
    .opaque {
        filter: blur(5px); /* Blur effect for pixelated appearance */
        cursor: pointer; /* Change cursor to pointer to indicate clickability */
    }
</style>

<div class="pagetitle">
  <h1>Item Details</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'show_items' %}">Inventory</a></li>
      <li class="breadcrumb-item active">Item Details</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

<!-- Full width column -->
<div class="col-lg-12">
  <div class="row">

    <!-- Item Details Card -->
    <div class="col-lg-8">
      <div class="card info-card sales-card card-available
        {% if item.is_used %} card-used
        {% elif item.expiry_date|date:"Y-m-d" < current_date|date:"Y-m-d" %} card-expired 
        {% endif %}">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h5 class="card-title">
                <i class="bi bi-shop"></i> {{ item.issuer }} 
                <span>&gt; {{ item.type }}
                  {% if item.is_used %}
                    <span style="margin-left: 5px; color: black;" class="badge bg-info">Used</span>
                  {% elif item.expiry_date|date:"Y-m-d" < current_date|date:"Y-m-d" %}
                    <span style="margin-left: 5px;" class="badge bg-danger text-dark">Expired</span>
                  {% endif %}
                </span>
              </h5>
              <h6>{{ item.name }}</h6>
            </div>
            {% if item.logo_slug %}
            <img src="https://logo.clearbit.com/{{ item.logo_slug }}" alt="Logo" style="width: 50px; height: 50px; border-radius: 10px;" onerror="this.style.display='none'">
            {% endif %}            
          </div>
          <div class="item-details pt-2">
            <div class="detail-item default-tile">
              <i class="bi bi-calendar text-muted"></i> <span><b>Issue Date:</b> {{ item.issue_date }}</span>
            </div>
            <div class="detail-item default-tile">
              <i class="bi bi-calendar-x text-muted"></i> <span><b>Expiry Date:</b> {{ item.expiry_date }}</span>
            </div>
            {% if item.type != "loyaltycard" %}
            <div class="detail-item default-tile">
              {% if item.value_type == "percentage" %}
              <i class="bi bi-percent text-muted"></i> <span><b>Percent:</b> {{ total_value|floatformat:2 }}</span>
              {% elif item.value_type == "money" %}
              <i class="bi bi-cash text-muted"></i> <span><b>Value:</b> {{ total_value|floatformat:2 }}</span>
              {% endif %}
            </div>
            {% endif %}
            {% if item.description %}
            <div class="default-tile" style="text-align: justify;">
              <b>Description:</b><br>
              <span class="content">{{ item.description }}</span>
            </div>
            {% endif %}
            {% if item.file %}
            <div class="default-tile" style="text-align: justify;">
              <a href="{% url 'download_file' item.id %}" class="btn btn-secondary btn-download mt-0">
                <i class="bi bi-download"></i> Download
              </a>
            </div>
            {% endif %}
          </div>
          <div class="d-flex justify-content-end mt-3">
            <a href="{% url 'edit_item' item.id %}" class="btn btn-primary me-2"><i class="bi bi-pencil"></i> Edit</a>
            <form action="{% url 'delete_item' item.id %}" method="post" class="me-2">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="bi bi-trash"></i> Delete</button>
            </form>
            {% if item.type != "loyaltycard" %}
            <form action="{% url 'toggle_item_status' item.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn {% if item.is_used %} btn-danger {% else %} btn-warning {% endif %}">
                <i class="bi bi-check-circle"></i>
                {% if item.is_used %} Mark as Available {% else %} Mark as Used {% endif %}
              </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div><!-- End Item Details Card -->

        <!-- QR Code and PIN Display -->
        <div class="col-lg-4">
          <div class="card mb-3">
            <div class="card-body text-center">
              {% if item.type == "loyaltycard" %}
              <h5 class="card-title ps-0 pb-0 pt-3">Your Identity</h5>
              {% else %}
              <h5 class="card-title ps-0 pb-0 pt-3">Scan to Redeem</h5>
              {% endif %}
              <img src="data:image/png;base64,{{ qr_code_base64 }}" alt="QR Code" class="img-fluid mb-2 mt-2 opaque" id="qr-code" style="max-width: 100%;">
              <br>
              <span class="opaque" id="redeem-code">{{ item.redeem_code }}</span>
            </div>
          </div>
          <div class="card">
              {% if item.pin %}
              <div class="card-body text-center" style="padding: 0px">
                <div class="input-group">
                  <input type="password" id="pin-code" class="form-control" value="{{ item.pin }}" readonly>
                  <button type="button" id="toggle-pin" class="btn btn-secondary">Show PIN</button>
                </div>
              </div>
              {% endif %}
          </div>
        </div><!-- End QR Code and PIN Display -->

        {% if item.type == 'giftcard' %}
        <!-- Transaction History -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Transaction History</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Value</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>{{ item.issue_date|date:"Y-m-d" }}</td>
                      <td>Initial Value</td>
                      <td>{{ item.value }}</td>
                      <td>
                      </td>
                    </tr>                  
                  {% for transaction in transactions %}
                    <tr>
                      <td>{{ transaction.date|date:"Y-m-d H:i" }}</td>
                      <td>{{ transaction.description }}</td>
                      <td>{{ transaction.value }}</td>
                      <td>
                        <form action="{% url 'delete_transaction' transaction.id %}" method="post" style="margin: 0;">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this transaction?');"><i class="bi bi-trash"></i></button>
                        </form>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="4">No transactions yet.</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="2"><strong>Total Value:</strong></td>
                    <td colspan="2"><strong>{{ total_value }}</strong></td>
                  </tr>
                </tbody>
              </table>
              <form method="post">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-md-8">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" required>
                  </div>
                  <div class="col-md-4">
                    <label for="value" class="form-label">Value</label>
                    <input type="number" class="form-control" id="value" name="value" step="0.01" max="0" placeholder="Enter value" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Add Transaction</button>
              </form>
              {% if form.errors %}
                <div class="alert alert-danger mt-2">
                  <ul>
                    {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                    {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
        </div><!-- End Transaction History -->
        {% endif %}

      </div>
    </div><!-- End Full width column -->

  </div>
</section>

{% if item.pin %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const pinInput = document.getElementById('pin-code');
    const toggleButton = document.getElementById('toggle-pin');
    
    toggleButton.addEventListener('click', function() {
        if (pinInput.type === 'password') {
            pinInput.type = 'text';
            toggleButton.textContent = 'Hide PIN';
        } else {
            pinInput.type = 'password';
            toggleButton.textContent = 'Show PIN';
        }
    });
});
</script>
{% endif %}

{% if item.type == 'giftcard' %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const valueInput = document.getElementById('value');

    valueInput.addEventListener('input', function() {
        if (valueInput.value && valueInput.value > 0) {
            valueInput.value = -Math.abs(valueInput.value);
        } else if (!valueInput.value.startsWith('-')) {
            valueInput.value = '-' + valueInput.value;
        }
    });
});
</script>
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Handling QR Code and Redeem Code visibility toggle
    const qrCode = document.getElementById('qr-code');
    const redeemCode = document.getElementById('redeem-code');

    qrCode.addEventListener('click', function() {
        qrCode.classList.toggle('opaque');
        redeemCode.classList.toggle('opaque');
    });
});
</script>
{% endblock content %}
